body,html {
  margin: auto;
  font: bold 14px/1.0 'Open Sans', arial, sans-serif;
 /*background: #000;*/
}
ol { 
  margin: auto; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: auto;
  text-align: center;
}
ol li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
ol li a {
  color: #05a6ac;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
ol li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #37dce5;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
ol li a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ol {
		margin-top: 40px;
	}
}